body {
  background-color: #222;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-top: 48px;
}

form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"] {
  background-color: #444;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  margin: 16px;
  padding: 16px;
  width: 80%;
  transition: background-color 0.3s ease;
}

input[type="number"]:focus {
  background-color: #666;
}

button[type="submit"] {
  background-color: #ff6f00;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  margin-top: 32px;
  padding: 16px 32px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff8f00;
}

.success-message{
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  margin-top: 32px;
  padding: 16px;
  display: none;
}

.error-message {
  background-color: #850000;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  margin-top: 32px;
  padding: 16px;
  display: none;
}
